# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Directory for npm stores
.npm

# SASS cache
.sass-cache/

# TypeScript
*.tsbuildinfo

# Coverage directory
coverage/

# IDE and editor specific
.vscode/
.idea/
.DS_Store

# Ignore build directory
dist/
build/
